# Maven
target/
*.jar
*.war
*.ear

# IntelliJ / Eclipse / VS Code
.idea/
.project
.classpath
.settings/
bin/

# MacOS
.DS_Store

# Logs
*.log

# H2 Database
*.db
*.mv.db
*.h2.db

# Temporary files
*.tmp
